#admis {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#admis > section {
  width: 90%;
  border: thin solid black;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

#admis-1 {
  width: 100%;
  border: thin solid black;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(https://images.pexels.com/photos/3888151/pexels-photo-3888151.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover; /* make sure the image covers the entire section */
  background-position: center; /* center the image */
  position: relative; /* make the section a positioned container for the pseudo-element */
}

#admis-1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px); /* add the blur effect */
  z-index: -1; /* put the pseudo-element behind the content */
}

#admis-1 > * {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

#admis-1 > h2 {
  color: var(--second);
  font-size: 4rem;
  text-align: center;
}

#admis-1 > p {
  color: var(--third);
  font-size: 1.2rem;
  text-align: center;
}

#admis-1 > button {
  font-size: 1.2rem;
  height: 6vh;
  width: 10%;
  padding-left: 1vw;
  padding-right: 1vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--second);
  border: thin solid var(--second);
  color: var(--primary);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 10px;
}

#admis-2,
#admis-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: max-content;
}

#admis-2 > h2,
#admis-3 > h2 {
  font-size: 4rem;
  color: var(--primary);
  text-align: center;
}

#admis-2 > p,
#admis-3 > p {
  font-size: 1.2rem;
  color: var(--six);
  text-align: center;
  width: 70%;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

#a2-cont {
  width: 100%;
  height: 90vh;
  border: thin solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#a2-cont > * {
  border: thin solid black;
}

#admis-4 {
  background-color: white;
  width: 100%;
  margin-top: 3vh;
  margin-bottom: 3vh;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#a4-cont {
  width: 90%;
  height: max-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#admis-contact-form {
  width: 50%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

#admis-contact-form > * {
  width: 100%;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
}

#admis-contact-form > h3 {
  font-size: 3rem;
  color: var(--primary);
}

#admis-contact-form > p {
  font-size: 1.2rem;
  color: var(--six);
}

#admis-contact-form > span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#admis-contact-form > span > label {
  margin-right: 3vw;
  height: 100%;
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#admis-contact-form > span > label > p {
  font-size: 1rem;
  color: var(--six);
}

#admis-contact-form > span > label > input {
  height: 6vh;
  width: 100%;
  border: thin solid var(--six);
  border-radius: 2.5px 10px 10px 10px;
  text-align: center;
  font-size: 1rem;
}

#admis-contact-form > label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#admis-contact-form > label > input {
  height: 6vh;
  width: 40%;
  font-size: 1rem;
  border: thin solid var(--six);
  border-radius: 2.5px 10px 10px 10px;
  text-align: center;
}

#admis-contact-form > label > p {
  font-size: 1rem;
  color: var(--six);
}

textarea:focus {
  outline: none;
}

#admis-contact-form > label > textarea {
  font-size: 1rem;
  color: var(--six);
  width: 70%;
  height: 20vh;
  border: thin solid var(--six);
}

#admis-contact-form > button {
  width: 30%;
  height: 6vh;
  background-color: var(--primary);
  color: var(--third);
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  border-radius: 2.5px 10px 10px 10px;
}

#admis-contact-image {
  border: thin solid black;
  height: 98vh;
  width: 50%;
}
