footer {
  width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border-top: thin solid var(--six);
}

footer > * {
  width: 90%;
  margin-top: 2vh;
  border: thin solid var(--six);
  margin-bottom: 2vh;
}

#footer-head {
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#footer-body {
  height: 35vh;
  margin-top: 4vh;
  margin-bottom: 4vh;
}

#footer-foot {
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
