footer {
  width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border-top: thin solid var(--six);
}

footer > * {
  width: 90%;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

#footer-head {
  height: 7vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#footer-head > h3 {
  font-size: 2rem;
  color: var(--primary);
}

#footer-head > span {
  font-size: 2.5rem;
  color: var(--primary);
  width: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#footer-foot {
  height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#footer-foot > span {
  width: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#footer-foot > p {
  width: 25%;
  font-size: 1rem;
  display: flex;
  color: var(--primary);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#footer-foot > span > a {
  font-size: 1rem;
  color: var(--primary);
}

#footer-body {
  height: 35vh;
  margin-top: 4vh;
  margin-bottom: 4vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#footer-body > * {
  height: 100%;
  border: thin solid var(--six);
}

.foot-cont {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.foot-cont > h4 {
  font-size: 1.2rem;
  margin-bottom: 1vh;
  color: var(--six);
}

.foot-cont > a {
  font-size: 1rem;
  margin-bottom: 1vh;
  color: var(--six);
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
}

.foot-cont1 {
  width: 25%;
}
