@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Mulish", sans-serif;
}

#root {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

body {
  background-color: var(--third);
}
#root > * {
  width: 100%;
}

a {
  text-decoration: none;
}

:root {
  --primary: #024751;
  --second: #23d06a;
  --third: #f9fbfc;
  --four: #ffefb5;
  --five: #d0c2f8;
  --six: #778899;
}

main {
  min-height: 80vh;
}
